:root {
    --main-pink: rgba(176, 106, 179, 1);
    --blue-main: rgba(69, 104, 220, 1);
    --white-1: rgba(250, 242, 251, 1);
    --white-2: rgba(245, 228, 245, 1);
    --black-1: rgba(31, 31, 31, 1);
    --grey-1: rgba(166, 166, 166, 1);
    --grad-top: rgba(69, 104, 220, 1);
    --grad-bot: rgba(176, 106, 179, 1);
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: var(--black-1);
}

.ball { 
    display: none;
}

.ball.active { 
    display: block;
}

.start { 
    display: block;
}

.start.active { 
    display: none;
}

.sale { 
    display: none;
}

.sale.active { 
    display: block;
}

.comm { 
    display: none;
}

.comm.active { 
    display: block;
}

a { 
    color: var(--black-1);
}

@media screen and (min-width: 1000px) {
    .main {
        max-width: 1315px;
        overflow: hidden;
        margin-top: 73px;
        min-height: 100vh;
        margin: 88px auto 0px;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        align-items: center;
    }

    /*==================== HEADER===================== */

    .header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        z-index: 999;
    }

    .header__content {
        display: flex;
        gap: 20px;
        padding: 20px 315px 15px 375px;
    }

    .header__more {
        width: 38px;
        height: 38px;
        cursor: pointer;
    }

    .header__list__container {
        position: relative;
        padding-right: 60px;
    }

    .header__more__icon {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        transition: opacity 0.2s ease;
        transition-delay: 0.55s;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
    }

    .header__more__icon.active {
        opacity: 1;
        transition-delay: 0.1s;
    }

    .header__list {
        display: flex;
        gap: 15px;
        position: relative;
        max-width: 900px;
        overflow: hidden;
    }

    .header__list a a { 
        color: var(--black-1);
        transition-delay: 0.5s;
    }

    .header__list a a:hover { 
        color: #fff;
    }

    .header__list a {
        padding: 8px 20px;
        border: rgba(31, 31, 31, 1) 1px solid;
        border-radius: 30px;
        text-wrap: nowrap;
        transform: translateX(-200vw);
        opacity: 0;
        transition: 0.4s all ease;
        cursor: pointer;
        background-color: #fff;
    }

    .header__list a:hover { 
        border: 1px var(--main-pink) solid;
        color: var(--main-pink);
        background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));
    }

    .header__list a.active {
        transform: translateX(0px);
        opacity: 1;
        
    }

    .header__list a.full {
        transform: translateX(-520px);
    }

    .header__list a:nth-of-type(1) {
        transition-delay: 0.1s;
    }
    .header__list a:nth-of-type(2) {
        transition-delay: 0.15s;
    }
    .header__list a:nth-of-type(3) {
        transition-delay: 0.2s;
    }
    .header__list a:nth-of-type(4) {
        transition-delay: 0.25s;
    }
    .header__list a:nth-of-type(5) {
        transition-delay: 0.3s;
    }
    .header__list a:nth-of-type(6) {
        transition-delay: 0.35s;
    }
    .header__list a:nth-of-type(7) {
        transition-delay: 0.4s;
    }
    .header__list a:nth-of-type(8) {
        transition-delay: 0.45s;
    }
    .header__list a:nth-of-type(9) {
        transition-delay: 0.5s;
    }
    .header__list a:nth-of-type(10) {
        transition-delay: 0.55s;
    }

    .header__list a.active:nth-of-type(1) {
        transition-delay: 0.55s;
    }
    .header__list a.active:nth-of-type(2) {
        transition-delay: 0.5s;
    }
    .header__list a.active:nth-of-type(3) {
        transition-delay: 0.45s;
    }
    .header__list a.active:nth-of-type(4) {
        transition-delay: 0.4s;
    }
    .header__list a.active:nth-of-type(5) {
        transition-delay: 0.35s;
    }
    .header__list a.active:nth-of-type(6) {
        transition-delay: 0.3s;
    }
    .header__list a.active:nth-of-type(7) {
        transition-delay: 0.25s;
    }
    .header__list a.active:nth-of-type(8) {
        transition-delay: 0.2s;
    }
    .header__list a.active:nth-of-type(9) {
        transition-delay: 0.15s;
    }
    .header__list a.active:nth-of-type(10) {
        transition-delay: 0.1s;
    }

    .header__list a.full:nth-of-type(1) {
        transition-delay: 0.1s;
    }
    .header__list a.full:nth-of-type(2) {
        transition-delay: 0.15s;
    }
    .header__list a.full:nth-of-type(3) {
        transition-delay: 0.2s;
    }
    .header__list a.full:nth-of-type(4) {
        transition-delay: 0.25s;
    }
    .header__list a.full:nth-of-type(5) {
        transition-delay: 0.3s;
    }
    .header__list a.full:nth-of-type(6) {
        transition-delay: 0.35s;
    }
    .header__list a.full:nth-of-type(7) {
        transition-delay: 0.4s;
    }
    .header__list a.full:nth-of-type(8) {
        transition-delay: 0.45s;
    }
    .header__list a.full:nth-of-type(9) {
        transition-delay: 0.5s;
    }
    .header__list a.full:nth-of-type(10) {
        transition-delay: 0.55s;
    }

    .header__list a.clicked {
        border: 1px var(--main-pink) solid;
        color: var(--main-pink);
        background-color: #fff;
    }

    

    /* FOOOOOTERRRRRRR ========================== */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        max-height: 81px;
        background: rgba(245, 228, 245, 1);
        box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.15);
        z-index: 9999;
    }

    .footer__content {
        padding: 17.5px 150px 17.5px 150px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }

    .footer__content__link { 
        display: flex;
        align-items: center;
    }

    .footer__content__link img { 
        height: 100%;
    }

    .footer__search {
        padding: 12px 17px;
        border: 1px solid rgba(31, 31, 31, 1);
        border-radius: 30px;
        min-width: 470px;
        display: flex;
        gap: 5px;
    }

    .footer__search input {
        width: 100%;
    }

    .footer__func {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .footer__func a  { 
        color: var(--black-1);
    }

    .footer__func__prof {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        align-items: center;
    }

    .footer__func__prof img {
        width: 34px;
        border-radius: 50%;
    }

    .footer__func__prof p {
        font-weight: 700;
    }

    .footer__func__create {
        margin-left: 40px;
        padding: 10px 25px;
        background: linear-gradient(to top, var(--grad-top), var(--grad-bot));
        border-radius: 30px;
        color: #fff;
        text-wrap: nowrap;
    }

    .footer__func__create button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .footer__menu {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;

        border-radius: 50px;
        background: rgba(245, 228, 245, 1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

        font-size: 18px;
        font-weight: 700;
    }

    .footer__menu__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px 4px;
        position: relative;
    }

    .footer__anim {
        position: absolute;
        border-radius: 50px;
        z-index: 13;
        background: linear-gradient(
            to bottom,
            var(--grad-top),
            var(--grad-bot)
        );
        transition: 0.3s all ease;
        transition-delay: 0.05s;
    }

    .footer__menu__item {
        padding: 15px 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 50px;
        max-height: 49px;
        z-index: 14;
    }

    .footer__menu__item1 {
        padding: 7.5px 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 50px;
        max-height: 49px;
        z-index: 14;
    }
    
    .footer__menu__item:last-of-type {
        
    }

    .footer__menu__item.active {
        color: #fff;
    }

    .footer__menu__item.mball { 
        background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));

    }

    .footer__menu__mobile {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .main {
        padding: 0px 24px;
        overflow: hidden;
        margin-top: 90px;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        align-items: center;
    }

    /* header */
    .header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        z-index: 9999;
    }

    .header__content {
        display: flex;
        gap: 20px;
        padding: 20px 0px 15px 24px;
    }

    .header__more {
        width: 38px;
        height: 38px;
        cursor: pointer;
    }

    .header__list__container {
        position: relative;
        max-width: 80vw;
    }

    .header__more__icon {
        display: none;
    }

    .header__more__icon.active {
        opacity: 1;
        transition-delay: 0.1s;
    }

    .header__list {
        display: flex;
        gap: 15px;
        position: relative;
        max-width: 1200px;
        overflow-x: scroll;
    }

    .header__list a {
        padding: 8px 20px;
        border: rgba(31, 31, 31, 1) 1px solid;
        border-radius: 30px;
        text-wrap: nowrap;
        transform: translateX(-200vw);
        opacity: 0;
        transition: 0.4s all ease;
        cursor: pointer;
        background-color: #fff;
    }

    .header__list a.active {
        transform: translateX(0px);
        opacity: 1;
    }

    .header__list a.full {
        transform: translateX(-500px);
    }

    .header__list a:nth-of-type(1) {
        transition-delay: 0.1s;
    }
    .header__list a:nth-of-type(2) {
        transition-delay: 0.15s;
    }
    .header__list a:nth-of-type(3) {
        transition-delay: 0.2s;
    }
    .header__list a:nth-of-type(4) {
        transition-delay: 0.25s;
    }
    .header__list a:nth-of-type(5) {
        transition-delay: 0.3s;
    }
    .header__list a:nth-of-type(6) {
        transition-delay: 0.35s;
    }
    .header__list a:nth-of-type(7) {
        transition-delay: 0.4s;
    }
    .header__list a:nth-of-type(8) {
        transition-delay: 0.45s;
    }
    .header__list a:nth-of-type(9) {
        transition-delay: 0.5s;
    }
    .header__list a:nth-of-type(10) {
        transition-delay: 0.55s;
    }

    .header__list a.active:nth-of-type(1) {
        transition-delay: 0.55s;
    }
    .header__list a.active:nth-of-type(2) {
        transition-delay: 0.5s;
    }
    .header__list a.active:nth-of-type(3) {
        transition-delay: 0.45s;
    }
    .header__list a.active:nth-of-type(4) {
        transition-delay: 0.4s;
    }
    .header__list a.active:nth-of-type(5) {
        transition-delay: 0.35s;
    }
    .header__list a.active:nth-of-type(6) {
        transition-delay: 0.3s;
    }
    .header__list a.active:nth-of-type(7) {
        transition-delay: 0.25s;
    }
    .header__list a.active:nth-of-type(8) {
        transition-delay: 0.2s;
    }
    .header__list a.active:nth-of-type(9) {
        transition-delay: 0.15s;
    }
    .header__list a.active:nth-of-type(10) {
        transition-delay: 0.1s;
    }

    .header__list::-webkit-scrollbar {
        height: 0px;
    }

    .header__list a.clicked {
        border: 1px var(--main-pink) solid;
        color: var(--main-pink);
    }

    /* FOOOOOOTER */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        max-height: 81px;
        background: rgba(245, 228, 245, 1);
        box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.15);
        z-index: 9999;
    }

    .footer__content {
        padding: 17.5px 24px 17.5px 24px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .footer__content__link img { 
        height: 100%;
    }

    .footer__search {
        border-radius: 30px;
        display: flex;
    }

    .footer__search input {
        display: none;
    }

    .footer__search img {
        width: 23px;
    }

    .footer__func {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .footer__func a  { 
        color: var(--black-1);
    }

    .footer__func__prof {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        align-items: center;
    }

    .footer__func__prof img {
        width: 34px;
        border-radius: 50%;
    }

    .footer__func__prof p {
        display: none;
    }

    .footer__func__create {
        padding: 14px 14px;
        background: linear-gradient(to top, var(--grad-top), var(--grad-bot));
        border-radius: 30px;
        color: #fff;
        text-wrap: nowrap;
    }

    .footer__func__create button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .footer__func__create span {
        display: none;
    }

    .header__list a a { 
        color: var(--black-1);
        transition-delay: 0.5s;
    }

    .footer__menu {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;

        border-radius: 30px;
        background: rgba(245, 228, 245, 1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

        font-size: 18px;
        font-weight: 700;

        height: 54.8px;
        overflow: hidden;

        transition: 0.3s all ease;
    }

    .footer__menu.expanded {
        height: auto;
        top: -225%;
    }

    .footer__menu__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 5px 4px;
        position: relative;
        transition: 0.5s all ease;
        transform: translateY(-246px);
    }

    .footer__menu__container.mob {
        transform: translateY(-265px);
    }

    .footer__menu__container.expanded {
        transform: translateY(0px);
        transition: 0.1s all ease;
    }

    .footer__anim {
        position: absolute;
        border-radius: 50px;
        z-index: 13;
        background: linear-gradient(
            to bottom,
            var(--grad-top),
            var(--grad-bot)
        );
        transition: 0.3s all ease;
        transition-delay: 0.05s;
    }

    .footer__menu__item {
        padding: 15px 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 50px;
        max-height: 49px;
        z-index: 14;
    }

    .footer__menu__item:last-of-type {
        padding: 7.5px 30px;
    }

    .footer__menu__item.active {
        color: #fff;
    }

    .footer__menu__mobile {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 30px;
    }

    .footer__menu__ball__mobile {
        display: none;
        padding: 0px 20px;
    }

    .footer__menu__ball__mobile.clicked {
        display: block;
    }

    .footer__menu__icon {
        width: 20px;
        height: 20px;
        position: relative;
    }

    .footer-line {
        position: absolute;
        display: block;
        background: var(--black-1);
        border-radius: 5px;
        height: 1.5px;
        transition: 0.8s ease all;
    }

    .footer-line:nth-of-type(1) {
        top: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }

    .footer-line:nth-of-type(2) {
        width: 100%;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }

    .footer-line:nth-of-type(3) {
        width: 60%;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-line:nth-of-type(1).active {
        display: none;
    }

    .footer-line:nth-of-type(2).active {
        width: 100%;
        top: 50%;
        left: 0px;
        transform: rotate(45deg);
    }

    .footer-line:nth-of-type(3).active {
        width: 100%;
        top: 50%;
        left: 0px;
        transform: rotate(-45deg);
    }
}

.footer__menu__item1.mball { 
    background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));

}

@media screen and (min-width: 1000px) {
    .ball__gallery {
        display: flex;
        
        gap: 23px;
        width: 1315px;
        margin: auto;
    }

    .ball__gallery p { 
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .ball__item img { 
        width: 100%;
    }

    .ball__gallery__mob { 
        display: none;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 10000;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }
    
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
        width: 100%;
    }
    
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        cursor: pointer;
    }
}

.sized { 
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    .ball__gallery { 
        display: none;
    }

    .ball__gallery__mob {
        width: 380px;
        column-count: 2;
        
        margin: auto;
    }

    .ball__item { 
        width: 185px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 10000;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }
    
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
        width: 100%;
    }
    
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        cursor: pointer;
    }
}

.ribbon__magicball__mobile { 
    display: none;
}



@media screen and (min-width: 1000px) {
    

    #createToggleMenu { 
        cursor: pointer;
    }

    .blur-page { 
        background-color: rgba(0,0,0,.5);
        backdrop-filter: blur(2px);
        /* z-index: -1; */
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -1;
        opacity: 0;
        transition: z-index 0.3s ease 0.5s, opacity 0.3s ease ;
    }

    .blur-page.active { 
        z-index: 999998;
        opacity: 1;
        transition: opacity 0.3s ;
    }
    
    .create-popup { 
        position: fixed;
        width: 100vw;
        height: 100vh;
        
        z-index: 999999;
        display: none;
        
    }

    .cp__container { 
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cp__wrapper { 
        background-color: #fff;
        border-radius: 15px;
        width: 500px;
        height: 526px;
        padding: 30px 45px 40px 45px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
    }

    .cp-close { 
        width: 26px;
        height: 26px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    .cp__wrapper h3 { 
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .cp__content { 
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cp__title { 
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .cp__title img { 
        width: 45px;
    }

    .cp__title p  {
        font-weight: 700;
    }

    .cp__message textarea { 
        height: 100%;
        width: 100%;
        min-height: 100px;
        resize: none;
        padding: 5px;
    }

    .cp__message textarea:focus { 
        border: none;
        outline: none;
        border-radius: 10px;
        border: 1px solid var(--grey-1);
    }

    .cp__file { 
        width: 100%;
        height: 121px;
        border-radius: 10px;
        border: 1px solid var(--grey-1);
        position: relative;
    }

    .cp__file__desc { 
        position: absolute;
        width: max-content;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .cp__file__img__container { 
        position: absolute;
        left: 50%;
        top: 60px;
        transform: translateX(-50%);
        display: flex;
        gap: 4px;
    }    

    .cp__file input[type="file"] {
        display: none;
    }
    
    #fileList {
        margin-top: 10px;
    }

    .cp__button { 
        margin-top: 10px;
        width: 100%;
        height: 50px;
        text-align: center;
        background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));
        color: #fff;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 700;
    }
}

@media screen and (max-width: 999px) {
    #createToggleMenu { 
        cursor: pointer;
    }

    .blur-page { 
        background-color: rgba(0,0,0,.5);
        backdrop-filter: blur(2px);
        /* z-index: -1; */
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -1;
        opacity: 0;
        transition: z-index 0.3s ease 0.5s, opacity 0.3s ease ;
    }

    .blur-page.active { 
        z-index: 999998;
        opacity: 1;
        transition: opacity 0.3s ;
    }
    
    .create-popup { 
        position: fixed;
        width: 100vw;
        height: 100vh;
        
        z-index: 999999;
        display: none;
        
    }

    .cp__container { 
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cp__wrapper { 
        background-color: #fff;
        width: 100%;
        height: 526px;
        padding: 30px 45px 40px 45px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
    }

    .cp-close { 
        width: 26px;
        height: 26px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    .cp__wrapper h3 { 
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .cp__content { 
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cp__title { 
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .cp__title img { 
        width: 45px;
    }

    .cp__title p  {
        font-weight: 700;
    }

    .cp__message textarea { 
        height: 100%;
        width: 100%;
        min-height: 100px;
        resize: none;
        padding: 5px;
    }

    .cp__message textarea:focus { 
        border: none;
        outline: none;
        border-radius: 10px;
        border: 1px solid var(--grey-1);
    }

    .cp__file { 
        width: 100%;
        height: 121px;
        border-radius: 10px;
        border: 1px solid var(--grey-1);
        position: relative;
    }

    .cp__file__desc { 
        position: absolute;
        width: max-content;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .cp__file__img__container { 
        position: absolute;
        left: 50%;
        top: 60px;
        transform: translateX(-50%);
        display: flex;
        gap: 4px;
    }    

    .cp__file input[type="file"] {
        display: none;
    }
    
    #fileList {
        margin-top: 10px;
    }

    .cp__button { 
        margin-top: 10px;
        width: 100%;
        height: 50px;
        text-align: center;
        background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));
        color: #fff;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 700;
    }
}

:root { 
    --main-pink : rgba(176, 106, 179, 1);
    --blue-main: rgba(69, 104, 220, 1);
    --white-1: rgba(250, 242, 251, 1);
    --white-2: rgba(245, 228, 245, 1);
    --black-1: rgba(31, 31, 31, 1);
    --grey-1: rgba(166, 166, 166, 1);
    --grad-top: rgba(69, 104, 220, 1);
    --grad-bot: rgba(176, 106, 179, 1);
}

@media screen and (min-width: 1000px) {
    .post { 
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 470px;
        position: relative;
    }

    .post::after { 
        content: "";
        position: absolute;
        width: 100%;
        background-color: var(--black-1);
        height: 0.5px;
        bottom: -40px;
    }
    
    .main__wrapper { 
        display: flex;
        min-width: 1000px;
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
    }

    .ribbon { 
        margin: 0 auto;
        margin-right: 389px;

    }

    .ribbon__container { 
        min-width: 470px;
        width: 100%;
        flex-direction: column;
        gap: 100px;
    }

    .post__title { 
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        position: relative;
        color: var(--black-1);
    }

    .post__title a { 
        color: var(--black-1);

    }
    

    .post__title__more { 
        display: flex;
        gap: 5px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .post__title__more__dot { 
        width: 5px;
        height: 5px;
        background-color: rgba(31, 31, 31, 1);
        border-radius: 50%;
    }

    .post__title__disc strong { 
        font-weight: 700;
    }

    .post__title__disc p { 
        font-size: 14px;
        font-weight: 400;
        color: var(--grey-1);
    }

    .post__image { 
        width: 100%;
        min-height: 500px;
    }

    .post__image__disc { 
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
    }

    .post__func { 
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;
    }

    .post__func img { 
        cursor: pointer;
    }

    .post__func::after { 
        content: "";
        position: absolute;
        width: 100%;
        height: 0.5px;
        background-color: var(--black-1);
        bottom: -20px;
    }

    .post__func__ux { 
        display: flex;
        gap: 40px;

    }

    .post__func__point { 
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .post__func__save { 
        display: flex;
        gap: 30px;
    }

    .post__comment { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 277.6px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    
    .post__comment__item { 
        display: flex;
        gap: 10px;
        position: relative;
    }

    .post__comment__item a { 
        width: 45.5px;
        height: 35px;
    }

    .post__comment__item__img { 
        width: 35px;
        height: 35px;
    }

    .post__comment__item:not(:nth-last-of-type(1))::after { 
        content: "";
        position: absolute;
        width: calc(100% - 45px);
        height: 0.5px;
        background-color: var(--black-1);
        bottom: -10px;
        right: 0;
        z-index: 11;
        overflow: hidden;
    }

    .post__comment__item:last-of-type::after { 
        content: none;
    }

    
    .post__comment__title { 
        font-size: 14px;
        font-weight: 700;
    }

    .post__comment__disc { 
        font-size: 14px;
        font-weight: 400;
    }

    .post__comment__footer { 
        display: flex;
        justify-content: space-between;
    }

    .post__comment__footer__func { 
        display: flex;
        align-items: center;
        color: var(--grey-1);
        font-size: 14px;
        gap: 20px;
    }

    .post__comment__footer__func span:nth-of-type(1) { 
        margin-right: 15px;
    }

    .post__comment__footer__func span:not(:first-child) { 
        cursor: pointer;
    }

    .post__comment__footer__like { 
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .post__comment__footer__like img { 
        max-width: 16px;
        cursor: pointer;
    }

    .post__comment__show {
        cursor: pointer;
        color: var(--blue-main);
        font-weight: 700;
    }

    /* PANELLL=========================== */
    .panel { 
        position: fixed;
        right: 85px;
        top: 88px;
        width: 390.23px;
        height: 851.8px;
        overflow-y: auto;
        margin-right: -1px;
    }

    .panel::-webkit-scrollbar {
        width: 1px;
    }

    .panel__container { 
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .panel__item { 
        background-color: rgba(250, 242, 251, 1);
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        max-width: 400px;
    }

    .panel__item h2{ 
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .panel__sugg__list { 
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .panel__sugg__item { 
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 14px;
    }

    .panel__sugg__item a {
        color: var(--black-1);
    }

    .panel__sugg__item img { 
        width: 40px;
        cursor: pointer;
    }

    .panel__sugg__item__disc strong { 
        cursor: pointer;
    }

    .panel__sugg__button { 
        max-height: 26px;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 12px;
        margin-left: auto;
        padding: 5px 14px;
        background: linear-gradient(to bottom, var(--grad-top), var(--grad-bot));
        border-radius: 30px;
        transition: all 0.3s ease;
    }

    .panel__sugg__button:hover { 
        background: linear-gradient(to bottom, rgba(69, 104, 220, .7), rgba(176, 106, 179, .8));
    }

    .panel__rec__list { 
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .panel__rec__list a { 
        color: var(--black-1);
    }

    .panel__rec__item { 
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 13px;
        cursor: pointer;
    }

    .panel__rec__img { 
        border-radius: 10px;
    }

    .panel__rec__item h3 { 
        margin-top: 10px;
        font-weight: 700;
        font-size: 16px;
    }

    .panel__rec__item p  { 
        font-weight: 600;
        font-size: 14px;
        color: var(--grey-1);
    }

    .post__link__show { 
        margin-top: 20px;
    }
}

@media screen and (max-width: 999px) {
    .post { 
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .post::after { 
        content: "";
        position: absolute;
        width: 100%;
        background-color: var(--black-1);
        height: 0.5px;
        bottom: -40px;
    }
    
    .main__wrapper { 
        display: flex;
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
    }

    .ribbon__container { 
        width: 100%;
        flex-direction: column;
        gap: 100px;
    }

    .post__title { 
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        position: relative;
    }

    .post__title__more { 
        display: flex;
        gap: 5px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .post__title__more__dot { 
        width: 5px;
        height: 5px;
        background-color: rgba(31, 31, 31, 1);
        border-radius: 50%;
    }

    .post__title__disc strong { 
        font-weight: 700;
        font-size: 14px;
    }

    .post__title__disc p { 
        font-size: 14px;
        font-weight: 600;
        color: var(--grey-1);
    }

    .post__image { 
        width: 100%;
        min-height: 500px;
    }

    .post__main__image { 
        width: 100%;
    }

    .post__image__disc { 
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
    }

    .post__func { 
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;
    }

    .post__func img { 
        cursor: pointer;
    }

    .post__func::after { 
        content: "";
        position: absolute;
        width: 100%;
        height: 0.5px;
        background-color: var(--black-1);
        bottom: -20px;
    }

    .post__func__ux { 
        display: flex;
        gap: 40px;

    }

    .post__func__point { 
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .post__func__point p { 
        font-size: 14px;
    }

    .post__func__save { 
        display: flex;
        gap: 30px;
    }

    .post__comment { 
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    
    .post__comment__item { 
        display: flex;
        gap: 10px;
        position: relative;
    }

    .post__comment__item__img { 
        width: 35px;
        height: 35px;
    }

    .post__comment__item:not(:nth-last-of-type(1))::after { 
        content: "";
        position: absolute;
        width: calc(100% - 45px);
        height: 0.5px;
        background-color: var(--black-1);
        bottom: -10px;
        right: 0;
        z-index: 11;
        overflow: hidden;
    }

    .post__comment__item:last-of-type::after { 
        content: none;
    }

    
    .post__comment__title { 
        font-size: 14px;
        font-weight: 700;
    }

    .post__comment__disc { 
        font-size: 14px;
        font-weight: 400;
    }

    .post__comment__footer { 
        display: flex;
        justify-content: space-between;
    }

    .post__comment__footer__func { 
        display: flex;
        align-items: center;
        color: var(--grey-1);
        font-size: 14px;
        gap: 20px;
    }

    .post__comment__footer__func span:nth-of-type(1) { 
        margin-right: 15px;
    }

    .post__comment__footer__func span:not(:first-child) { 
        cursor: pointer;
    }

    .post__comment__footer__like { 
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .post__comment__footer__like img { 
        max-width: 16px;
        cursor: pointer;
    }

    .post__comment__footer__like p { 
        font-size: 14px;
    }

    .post__comment__show {
        cursor: pointer;
        color: var(--blue-main);
        font-weight: 700;
    }

    /* PANELLL=========================== */
    .panel { 
        display: none;
    }

    .post__link__show { 
        margin-top: 20px;
    }
}

.ribbon__magicball { 
    display: none;
}

.watch img{ 
    cursor: inherit;
}

.like-icon { 
    transition: all 0.3s ease;
}

.save-icon { 
    width: 17px;
}

.post__comment__content { 
    color: var(--black-1)
}